---
import Layout from "../layouts/Layout.astro";
import Image from "./image.astro";
---

<Layout title="Welcome to Computer City.">
  <div class="bg-gray-200">
    <div class="max-w-screen-md mx-auto bg-white">
      <div class="-mt-10">
        <Image />
      </div>
      <div class="bg-[#447fb6] py-8 -mt-8">
        <div class="max-w-screen-sm mx-auto px-8">
          <h1 class="text-left text-white text-xl">
            Connect with us on social media
          </h1>
          <p class="text-left text-white text-sm">
            Follow us and get updates delivered to your favorite social media
            channel.
          </p>
        </div>
      </div>
      <div class="flex mx-auto w-full items-center justify-center bg-gray-100">
        <ul class="flex flex-col bg-gray-100 p-4 w-full">
          <li class="border-gray-200 flex flex-row mb-2">
            <a
              href="fb://facewebmodal/f?href=https://it-it.facebook.com/comcity.bd/"
              class="w-full"
              target="_blank"
            >
              <div
                class="select-none bg-gray-200 rounded-md flex flex-1 items-center p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
              >
                <div
                  class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-4"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    class="text-white bg-blue-600 rounded-full"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                    >
                    </path>
                  </svg>
                </div>
                <div class="flex-1 pl-1 mr-16">
                  <div class="font-medium">Facebook</div>
                  <div class="text-gray-600 text-sm">Become a fan</div>
                </div>
              </div>
            </a>
          </li>
          <li class="border-gray-400 flex flex-row mb-2">
            <a
              href="https://www.youtube.com/c/ComputerCityTechnologiesLtd"
              target="_blank"
              class="w-full"
            >
              <div
                class="select-none cursor-pointer bg-gray-200 rounded-md flex flex-1 items-center p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
              >
                <div
                  class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-4"
                >
                  <svg
									fill="none"
									stroke="currentColor"
									stroke-width="1.5"
									class="text-white bg-red-600 rounded-full"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><title>YouTube Music</title><path
                      d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm0 19.104c-3.924 0-7.104-3.18-7.104-7.104S8.076 4.896 12 4.896s7.104 3.18 7.104 7.104-3.18 7.104-7.104 7.104zm0-13.332c-3.432 0-6.228 2.796-6.228 6.228S8.568 18.228 12 18.228s6.228-2.796 6.228-6.228S15.432 5.772 12 5.772zM9.684 15.54V8.46L15.816 12l-6.132 3.54z"
                    ></path></svg
                  >
                </div>
                <div class="flex-1 pl-1 mr-16">
                  <div class="font-medium">Youtube</div>
                  <div class="text-gray-600 text-sm">Watch our Video</div>
                </div>
              </div>
            </a>
          </li>
					<li class="h-12"></li>
					<li class="h-12"></li>
					<li class="h-12"></li>
					<li class="h-12"></li>					
        </ul>
      </div>
    </div>
  </div>
</Layout>
